hive-metastore/work/*
!hive-metastore/work/.gitkeep

glue/workspace/jupyter_workspace/*
!glue/workspace/jupyter_workspace/.gitkeep
!glue/workspace/jupyter_workspace/*.ipynb

minio/data/*
!minio/data/.gitkeep
asahi_data
sample_client